:root {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #ffffff;
  --bg_body: #f0f9ff;
  --lines-color: #dddddd;
  --body-text: #333333;
  --heart-color: #dc143c;
}

/* global styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-family: "Nunito Sans", sans-serif;
}

input:focus,
select:focus {
  outline: none;
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg_default);
  padding: 15px 50px;
}

header .logo {
  font-size: 14px;
  color: #0768ac;
  font-weight: 700;
  padding-top: 7px;
}

header .btn-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

header .btn-wrapper button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  background-color: var(--bg_default);
  border-radius: 5px;
  padding: 5px 10px;
  border: 1.5px solid var(--lines-color);
}

header .btn-wrapper button .icon {
  width: 15px;
  height: 15px;
}

/* Page Heading Section Styles */
.page-heading-container {
  height: 110px;
  border-top: 1px solid var(--brand-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-heading-container .page-heading-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-top: 25px;
}

.page-heading-container .main-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--brand-secondary);
}

.page-heading-container .subtitle {
  font-size: 14px;
  color: var(--body-text);
}

/* Main Section Styles */
main {
  background-color: var(--bg_body);
  width: auto;
  min-height: calc(100vh - 170px);
  padding: 20px 50px;
}

main .search-component {
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: var(--bg_default);
  padding-left: 10px;
  border-radius: 10px;
}

main .search-component .select-btns-wrapper {
  display: flex;
  align-items: center;
}

main .search-component .select-btns-wrapper .select-wrapper {
  position: relative;
  padding-right: 10px;
}

main .search-component .select-btns-wrapper .select-wrapper::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 160px;
  background: url("./assets/chevron-down-outline.svg");
  width: 15px;
  height: 15px;
  cursor: pointer;
}

main .search-component .select-btns-wrapper label {
  position: absolute;
  font-size: 12px;
  top: 5px;
  left: 16px;
}

main .search-component .select-btns-wrapper select {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 180px;
  padding-top: 15px;
  padding-left: 15px;
  font-size: 15px;
  border-left: 1.5px solid var(--lines-color);
}

main .search-component .search-input {
  padding-left: 35px;
  font-size: 16px;
  width: 100%;
  background-image: url("./assets/search-outline.svg");
  background-repeat: no-repeat;
  background-position: 5px center;
  background-size: 15px;
  border: none;
  height: 50px;
  cursor: pointer;
}

/* main-section-cards styles */
main .title-topics-found {
  font-size: 20px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 20px;
}

main .cards-section {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

main .cards-section .card {
  flex: 0 0 calc(20% - 1em);
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: var(--bg_default);
}

.card img {
  max-width: 100%;
  height: auto;
}

.text {
  margin-bottom: 20px;
  font-size: 10px;
}

.text-weight {
  font-weight: 700;
}

.review {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
}
.review img {
  width: 15px;
  height: 15px;
}

.author {
  font-size: 10px;
  color: var(--body-text);
}
