/* favourite section styles .favourite-section {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--bg_default);
  padding: 15px 50px;
  z-index: 20;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.favourite-section .fav-title {
  font-size: 18px;
  font-weight: 700;
}

.fav-cards-wrapper {
  display: flex;
  gap: 20px;
  padding-top: 15px;
}

.favourite-section .fav-card {
  border-radius: var(--border-radius);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--bg_default);
  padding-bottom: 10px;
}

.favourite-section .fav-cards-wrapper .fav-card .fav-img {
  height: 60px;
  width: 120px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 5px 5px 0 0;
}

.favourite-section .fav-cards-wrapper .fav-card .fav-topic {
  padding: 8px 30px 3px 8px;
  font-size: 13px;
  font-weight: 700;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.favourite-section .fav-cards-wrapper .fav-card .review {
  display: flex;
  justify-content: flex-start;
  padding-left: 8px;
}

.favourite-section .fav-cards-wrapper .fav-card .review svg {
  width: 15px;
  height: 15px;
} */
